@mixin buttonPrimary {
  all: unset;
  background: #0071e3;
  color: #fff;
  border-color: rgba(0, 0, 0, 0);
  border-radius: 980px;
  cursor: pointer;
  margin-top: 20px;
  padding: 13px 22px;
  font-size: 17px;
  font-weight: 400;
}

@mixin buttonSecondary {
  all: unset;
  background: #F5F5F7;
  color: #000;
  border-color: rgba(0, 0, 0, 0);
  border-radius: 980px;
  cursor: pointer;
  margin-top: 20px;
  padding: 13px 22px;
  font-size: 17px;
  font-weight: 400;
}

@mixin buttonPrimaryXs {
  all: unset;
  background: #0071e3;
  color: #fff;
  border-color: rgba(0, 0, 0, 0);
  border-radius: 980px;
  cursor: pointer;
  margin-top: 20px;
  padding: 7px 15px;
  font-size: 15px;
  font-weight: 400;
}